.container {
  width: 700px;
  height: 600px;
  margin: 80px auto 0 auto;
  position: relative;
}

table.board,
table.underlay {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 10px;
  background: #fde3a7;
  position: absolute;
}

table.board {
  z-index: 10;
  background: transparent;
}

td {
  width: 70px;
  height: 70px;
  background: #fff;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}

td:hover {
  background: #6c7a89;
  opacity: 0.25;
}

td.red {
  background: #e74c3c;
}

td.black {
  background: #2574a9;
}

td.red:hover,
td.black:hover {
  opacity: 1;
>>>>>>> 78d98b2cf1fb21bfda612c2214caa30478ead6b7
