table.board {
  width: 700px;
  height: 600px;
  border-radius: 20px;
  padding: 10px;
  margin: 80px auto;
  background: yellow;
}

td {
  width: 70px;
  height: 70px;
/*  padding-left: 10px;
*/  background: #fff;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}

td.red {
  background: red;
}

td.black {
  background: #000;
}

h1 {
  text-align: center;
  font-size: 5em;
  color: yellow;
}

body {
  background-color: gray;
}